__pycache__
domainbed/facebook.py

domainbed/data/*
train_output/*
domainbed/outputs/
Outs/
sweep.sh
slurm*


domainbed/outputs_new/
domainbed/pretrained/dino/dino_vitbase16_pretrain.pth
domainbed/lib/clip/bpe_simple_vocab_16e6.txt.gz
sweep.sh
data_small/*

data_small/PACS/
domainbed/Outputs_old/
domainbed/outputs_new/
domainbed/new_outputs/
domainbed/outputs_distill/
domainbed/pretrained/
domainbed/tsneOuts/
img_outs/
domainbed/outputs_clip/
sweep_2.sh
sweep-xavier.sh
sweep.sh
SweepDGX.sh
